.newPatientContent {
    padding: 40px;
    padding-top: 0;
}

.newPatientContentInner {
    padding: 33px;
    border-radius: 12px;
    background-color: white;
}

.newPatientTitle {
    font-size: 24px;
}

.newPatientDesc {
    color: var(--text-light);
    margin-top: 8px;
}

/* ///////////////////// */

.basicInfo {
    margin-top: 30px;
}

.basicInfoFields {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px 20px;
}

.colspan2 {
    grid-column: span 2;
}

/* ////////////////////// */

.patientInfo {
    margin-top: 50px;
}

.patientInfoFields {
    margin-top: 16px;
    gap: 16px;
}

.newPatientAction {
    margin-top: 20px;
    gap: 15px;
}

.newPatientCancelBtn {
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid var(--text-light);
    text-align: center;
    background-color: transparent;
    stroke: var(--text-light);
    gap: 10px;
    color: var(--text-light);
}

.newPatientCancelBtn:hover {
    background-color: var(--text-light);
    stroke: white;
    gap: 10px;
    color: white;
}

.newPatientSaveBtn {
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid var(--primary);
    text-align: center;
    background-color: var(--primary);
    stroke: white;
    gap: 10px;
    color: white;
}


@media (max-width: 1200px) { 
    .basicInfoFields {
        grid-template-columns: 1fr 1fr;
    }
    .colspan2 {
        grid-column: span 1;
    }
}

@media (max-width: 991px) { 
    .basicInfoFields {
        grid-template-columns: 1fr;
    }
}
