<div 
    class="inputItem d-flex align-items-center justify-content-between"
    [ngClass]="{ 'focused': isFocused, 'flex-wrap': type=='select' }" 
    [ngStyle]="style"
    [ngSwitch]="type"
>
    <label (click)="focusInput()" [for]="id" class="inputLabel fw-bolder">
        {{ label }}
    </label>


    <div *ngSwitchCase="'select'" class="specialInputParent position-relative">
        <span class="selectIcon position-absolute z-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                <path d="M11 1.32813L6.5 6.32812L2 1.32813" stroke="#5A36CD" stroke-width="2.02041" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </span>
        <select 
            #inputField
            [id]="id"
            class="inputField position-sticky z-1"
            [value]="value"
            (focus)="onFocus()"
            (blur)="onBlur()"
        >
            <option *ngIf="placeholder" value="">{{placeholder}}</option>
            <ng-content></ng-content>
        </select>
    </div>

    <input
        *ngSwitchDefault
        #inputField 
        [id]="id"
        class="inputField"
        [placeholder]="placeholder"
        [type]="type"
        [value]="value"
        (focus)="onFocus()"
        (blur)="onBlur()"
    />
</div>