<section class="faqSec">
    <div class="container">
        <article class="sectionContent">
            <p class="sectionSubtitle">
                Skipline Users!
            </p>
            <h1 class="sectionHeading">
                Frequently Asked Questions <span class="sectionHeadingAccent">(FAQ)</span>
            </h1>
        </article>
        <div class="faqList">
            <app-home-faq-item
                question="This is another question?"
                answer="Yes, we can assist with video distribution and promotion. We offer guidance on choosing the right platforms and strategies to maximize your video's reach and engagement. Yes, we can assist with video distribution and promotion. We offer guidance on choosing the right platforms and strategies to maximize your video's reach and engagement."
            />
            <app-home-faq-item
                question="How long does it take to produce a short-form video from start to finish?"
                answer="Yes, we can assist with video distribution and promotion. We offer guidance on choosing the right platforms and strategies to maximize your video's reach and engagement. Yes, we can assist with video distribution and promotion. We offer guidance on choosing the right platforms and strategies to maximize your video's reach and engagement."
            />
            <app-home-faq-item
                question="Once moire question?"
                answer="Yes, we can assist wi platforms and strategies to maximize your video's reach and engagement. Yes, we can assist with video distribution and promotion. We offer guidance on choosing the right platforms and strategies to maximize your video's reach and engagement."
            />
            <app-home-faq-item
                question="How long does it take to produce a short-form video from start to finish?"
                answer="Yes, we can assist with video distribution and promotion. We offer guidance on choosing the right platforms and strategies to maximize your video's reach and engagement. Yes, we can assist with video distribution and promotion. We offer guidance on choosing the right platforms and strategies to maximize your video's reach and engagement."
            />
            <app-home-faq-item
                question="How long does it take to produce a short-form video from start to finish?"
                answer="Yes, we can assist with video distribution and promotion. We offer guidance on choosing the right platforms and strategies to maximize your video's reach and engagement. Yes, we can assist with video distribution and promotion. We offer guidance on choosing the right platforms and strategies to maximize your video's reach and engagement."
            />
        </div>
    </div>
</section>