<section class="adminProfSec">
    <app-dashboard-header-default pageGroup="Settings/" pageTitle="Admin Profile" />

    <app-dashboard-content-wrapper>
        <h5>
            Admin Profile
        </h5>
        <article class="mt-4">
            Incididunt incididunt incididunt eiusmod reprehenderit nulla proident. Excepteur commodo labore occaecat officia duis ipsum do nisi fugiat. Id voluptate enim nostrud ipsum reprehenderit aliquip labore occaecat exercitation magna eiusmod.
        </article>
    </app-dashboard-content-wrapper>
</section>