.settingsItem {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--text);
    padding: 15px 33px;
    margin: 0 -33px;
    border-bottom: 1px solid var(--border-dark);
    transition: 0.3s;
}

.settingsItem:hover {
    background-color: var(--bg-3);
}

.logoutArea {
    margin-top: 33px;
}

.logoutBtn {
    background-color: var(--primary);
    color: white;
    padding: 15px 20px;
    border-radius: 50px;
    min-width: 140px;
}