<section class="aboutSec">
    <div class="container">
        <div class="containerInner">
            <article class="sectionContent">
                <p class="sectionSubtitle">
                    We heard you!
                </p>
                <h1 class="sectionHeading">
                    Streamline Operations <span class="sectionHeadingAccent">&</span> Delight Customers
                </h1>
                <div class="sectionDesc">
                    We know business owners that are very busy and need tools that can help them become more efficient in their daily operations, along with increasing customer satisfaction and the bottom line. Skipline is a simple, yet powerful online scheduling tool that you, your team, and your customers will find easy to use. 
                </div>
            </article>
            <figure class="aboutImg">
                <img
                    class="desktopImg d-none d-md-block"
                    [src]="desktopAboutImg.url"
                    [alt]="desktopAboutImg.alt"
                />
                <img
                    class="mobileImg d-block d-md-none"
                    [src]="mobileAboutImg.url"
                    [alt]="mobileAboutImg.alt"
                />
            </figure>
        </div>
    </div>
</section>