<section class="featuresSec">
    <div class="container">
        <article class="sectionContent">
            <p class="sectionSubtitle">
                Adventures Use Skipline!
            </p>
            <h1 class="sectionHeading">
                Features <span class="sectionHeadingAccent">For You!</span>
            </h1>
        </article>
        <div class="featureGrid">
            <app-home-features-item
                imgUrl="assets/images/feat1.png"
                highlightedTitle="fgyjdfg"
                normalTitle="Module"
                subtitle="Adventures Skipline"
                desc="Define your services by setting the price and the service name. Add one or more services when scheduling an appointment, and Skipline automatically calculates the total price,discount and tax. Sit back and relax, Skipline does the math for you."
            />
            <app-home-features-item
                imgUrl="assets/images/feat2.png"
                highlightedTitle="Invoice"
                normalTitle="Module"
                subtitle="Adventures serfg"
                desc="Define your services by setting the price and the service name. Add one or more services when scheduling an appointment, and Skipline automatically calculates the total price,discount and tax. Sit back and relax, Skipline does the math for you."
            />
            <app-home-features-item
                imgUrl="assets/images/feat3.png"
                highlightedTitle="adsf"
                normalTitle="Module"
                subtitle="Adventures Skipline"
                desc="Define your services by setting the price and the service name. Add one or more services when scheduling an appointment, and Skipline automatically calculates the total price,discount and tax. Sit back and relax, Skipline does the math for you."
            />
            <app-home-features-item
                imgUrl="assets/images/feat1.png"
                highlightedTitle="sdsdrd"
                normalTitle="Module"
                subtitle="Adventures Skipline"
                desc="Define your services by setting the price and the service name. Add one or more services when scheduling an appointment, and Skipline automatically calculates the total price,discount and tax. Sit back and relax, Skipline does the math for you."
            />
            <app-home-features-item />
            <app-home-features-item />
        </div>
    </div>
</section>