.contentWrapper {
    padding: 40px;
    padding-top: 0;
}

.contentWrapperInner {
    padding: 33px;
    border-radius: 12px;
    background-color: white;
    overflow: hidden;
}

.contentWrapperContent {
    z-index: 1;
}