<section class="feedbackSec">
    <div class="container">
        <article class="sectionContent">
            <p class="sectionSubtitle">
                Adventures Use Skipline!
            </p>
            <h1 class="sectionHeading">
                Features <span class="sectionHeadingAccent">For You!</span>
            </h1>
        </article>
        <div class="feedbackGrid">
            <app-home-feedback-item
                imgUrl="assets/images/feed1.png"
                title="Module"
                clientName="Dr. Thompson"
                clientPost="Owner of 'Thompson Medical'"
                feedback="Skipline has completely revamped our appointment scheduling system. It minimizes errors with online appointment confirmations and  available slots and book appointments with their preferred mechanics. "
            />
            <app-home-feedback-item
                imgUrl="assets/images/feed1.png"
                title="Module"
                clientName="Dr. Thompson"
                clientPost="Owner of 'Thompson Medical'"
                feedback="Skipline has completely revamped our appointment scheduling system. It minimizes errors with online appointment confirmations and  available slots and book appointments with their preferred mechanics. "
            />
            <app-home-feedback-item
                imgUrl="assets/images/feed1.png"
                title="Module"
                clientName="Dr. Thompson"
                clientPost="Owner of 'Thompson Medical'"
                feedback="Skipline has completely revamped our appointment scheduling system. It minimizes errors with online appointment confirmations and  available slots and book appointments with their preferred mechanics. "
            />
            <app-home-feedback-item
                imgUrl="assets/images/feed1.png"
                title="Module"
                clientName="Dr. Thompson"
                clientPost="Owner of 'Thompson Medical'"
                feedback="Skipline has completely revamped our appointment scheduling system. It minimizes errors with online appointment confirmations and  available slots and book appointments with their preferred mechanics. "
            />
        </div>
    </div>
</section>