<section class="relative p-6 lg:p-10 min-h-screen flex flex-col justify-center">
    <article class="w-full w-6/12 lg:w-5/12">
        <div class="text-center">
            <a routerLink="" class="inline-block mx-uto">
                <img
                    class="w-44" 
                    [src]="logo_img.url" 
                    [alt]="logo_img.alt"
                >
            </a>
            <div class="mt-16 md:mt-20 lg:mt-24">
                <h1 class="text-2xl md:text-3xl font-black leading-tight md:leading-tight">
                    {{ title }}
                </h1>
                <p class="mt-4 mx-auto max-w-sm text-textColor-light">
                    {{ description }}
                </p>
            </div>
        </div>
        <form class="mt-14 md:mt-16 mx-auto max-w-lg space-y-3">
            <div class="relative inputWithLabel">
                <input 
                    [(ngModel)]="email"
                    id="email"
                    class="bg-transparent w-full py-4 px-5 font-bold placeholder:text-[14px] placeholder:text-black focus:placeholder:opacity-20 border border-primary/5 focus:border-primary/20 rounded-lg outline-none focus:outline-none duration-300"
                    name="email"
                    type="email"
                    placeholder="Username"
                />
                <label 
                    *ngIf="!email"
                    for="email" 
                    class="tracking-wider text-[14px] text-textColor-light absolute top-2/4 right-5 transform -translate-y-2/4"
                >
                    Type Your Mail
                </label>
            </div>
            <div class="relative inputWithLabel">
                <input 
                    [(ngModel)]="password"
                    id="password"
                    class="bg-transparent w-full py-4 px-5 font-bold placeholder:text-[14px] placeholder:text-black focus:placeholder:opacity-20 border border-primary/5 focus:border-primary/20 rounded-lg outline-none focus:outline-none duration-300"
                    name="password"
                    type="password"
                    placeholder="Password"
                />
                <label 
                    *ngIf="!password"
                    for="password" 
                    class="tracking-widest text-[14px] text-textColor-light absolute top-2/4 right-5 transform -translate-y-2/4"
                >
                    ***************
                </label>
            </div>
            <div class="pt-2 flex flex-col sm:flex-row lg:flex-col xl:flex-row items-center gap-4">
                <button type="submit" class="w-full sm:w-8/12 lg:w-full xl:w-8/12 py-4 px-5 rounded-lg bg-primary text-white font-bold">
                    Sign Up
                </button>
                <div class="w-full sm:w-4/12 lg:w-full xl:w-4/12 flex items-center justify-center xl:justify-start gap-4">
                    <a href="" class="block p-4 border border-primary/5 rounded-lg">
                        <img
                            class="w-8 h-8" 
                            src="./assets/images/google_logo.svg" 
                            alt="google logo"
                        >
                    </a>
                    <a href="" class="block p-4 border border-primary/5 rounded-lg">
                        <img
                            class="w-8 h-8" 
                            src="./assets/images/facebook_logo.svg" 
                            alt="google logo"
                        >
                    </a>
                </div>
            </div>
        </form>
    </article>
    <figure class="hidden lg:block absolute top-0 lg:top-10 right-0 lg:right-10 bottom-0 lg:bottom-10 w-full w-6/12 lg:w-7/12 lg:pl-24">
        <img
            class="w-full h-full object-cover object-center lg:rounded-2xl" 
            [src]="banner_img.url" 
            [alt]="banner_img.alt"
        >
    </figure>
</section>
