<section class="loginSection">
    <div id="loginContainer" class="loginContainer position-relative d-flex flex-column-reverse flex-lg-row align-items-center min-vh-100">
        <article id="loginLeft" class="loginLeft">
            <div class="loginContent text-center">
                <a routerLink="" class="d-none d-lg-inline-block">
                    <img
                        class="loginLogoImg img-fluid"
                        [src]="logoImg.url" 
                        [alt]="logoImg.alt"
                    >
                </a>
                <div class="loginText">
                    <h1 class="loginTitle fw-black">
                        {{ title }}
                    </h1>
                    <p class="loginDesc mx-auto">
                        {{ description }}
                    </p>
                </div>
            </div>
            <form class="loginForm text-center mx-auto">
                <div class="formItem">
                    <input 
                        [(ngModel)]="email"
                        id="email"
                        class="inputItem w-100 rounded-3"
                        name="email"
                        type="email"
                        placeholder="Username"
                    />
                    <label *ngIf="!email" for="email" class="labelItem ltr-spacing-1">
                        Type Your Mail
                    </label>
                </div>
                <div class="formItem">
                    <input 
                        [(ngModel)]="password"
                        id="password"
                        class="inputItem w-100 rounded-3"
                        name="password"
                        type="password"
                        placeholder="Password"
                    />
                    <label *ngIf="!password" for="password" class="labelItem ltr-spacing-3">
                        ***************
                    </label>
                </div>
                <button type="submit" class="submitBtn w-100 fw-bolder d-block border-0 rounded-3">
                    Login
                </button>
                <a href="" class="forgotPass fw-bolder d-inline-block">
                    Forgot Password
                </a>
            </form>
        </article>
        <figure class="loginRight">
            <div [ngStyle]="{'height.px': dynamicImgHeight}" class="position-relative">
                <span class="d-inline-block d-lg-none position-absolute start-0 top-0 bottom-0 end-0 bg-black opacity-50"></span>
                <a routerLink="" class="loginLogoMobile d-inline-block d-lg-none">
                    <img
                        class="loginLogoImgMobile img-fluid"
                        [src]="logoImg_white.url" 
                        [alt]="logoImg_white.alt"
                    >
                </a>
                <img 
                    class="loginImg rounded-4 w-100 h-100" 
                    [src]="bannerImg.url" 
                    [alt]="bannerImg.alt"
                >
            </div>
        </figure>
    </div>
</section>





