<section class="heroSec">
    <div class="container">
        <div class="containerInner">
            <article class="sectionContent">
                <p class="sectionSubtitle">
                    Welcome Skipline!
                </p>
                <h1 class="sectionHeading">
                    <span class="sectionHeadingAccent">
                        All-in-One 
                    </span>
                    Business Management System
                </h1>
                <p class="sectionSubheading">
                    Helping Businesses Acquire, Retain & Grow with Innovative Technology
                </p>
                <div class="sectionDesc">
                    A Business management system for your small, medium or large scale business to perform appointment, queuing, feedback, invoice and promotions as per your needs.
                </div>

                <figure class="heroImage d-block d-md-none">
                    <div class="heroCarouselMobile heroCarousel splide">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide">
                                    <img
                                        class="mobileImg"
                                        [src]="cmImg.url" 
                                        [alt]="cmImg.alt"
                                    >
                                </li>
                                <li class="splide__slide">
                                    <img
                                        class="mobileImg"
                                        [src]="hmImg.url" 
                                        [alt]="hmImg.alt"
                                    >
                                </li>
                                <li class="splide__slide">
                                    <img
                                        class="mobileImg"
                                        [src]="hmImg.url" 
                                        [alt]="hmImg.alt"
                                    >
                                </li>
                                <li class="splide__slide">
                                    <img
                                        class="mobileImg"
                                        [src]="hmImg.url" 
                                        [alt]="hmImg.alt"
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </figure>

                <div class="sectionBtns">
                    <a href="" class="sectionBtn active">
                        <span class="sectionBtntext">
                            Patient Login
                        </span>
                        <span class="sectionBtnIcon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" stroke="currentColor" fill="none">
                                <path d="M5.625 2.8125L10.3125 7.5L5.625 12.1875" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                    </a>
                    <a href="" class="sectionBtn">
                        <span class="sectionBtntext">
                            Hospital Login
                        </span>
                        <span class="sectionBtnIcon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" stroke="currentColor" fill="none">
                                <path d="M2.125 14.3438H16.4688" stroke-width="1.0625" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M3.1875 14.3438V3.1875C3.1875 3.0466 3.24347 2.91148 3.3431 2.81185C3.44273 2.71222 3.57785 2.65625 3.71875 2.65625H10.0938C10.2346 2.65625 10.3698 2.71222 10.4694 2.81185C10.569 2.91148 10.625 3.0466 10.625 3.1875V14.3438" stroke-width="1.0625" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10.625 7.96875H14.875C15.0159 7.96875 15.151 8.02472 15.2507 8.12435C15.3503 8.22398 15.4062 8.3591 15.4062 8.5V14.3438" stroke-width="1.0625" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M6.90625 4.78125V7.96875" stroke-width="1.0625" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5.3125 6.375H8.5" stroke-width="1.0625" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M8.5 14.3438V10.625H5.3125V14.3438" stroke-width="1.0625" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                    </a>
                </div>
            </article>
            <figure class="heroImage d-none d-md-block">
                <div class="heroCarouselDesktop heroCarousel splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <img
                                    class="desktopImg"
                                    [src]="cmImg.url" 
                                    [alt]="cmImg.alt"
                                >
                            </li>
                            <li class="splide__slide">
                                <img
                                    class="desktopImg"
                                    [src]="hmImg.url" 
                                    [alt]="hmImg.alt"
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </figure>
        </div>
    </div>
</section>