<section class="py-20">
    <div class="container mx-auto">
        <h1 class="text-4xl font-bold">
            This is the homepage
        </h1>
        <p class="mt-10">
            Eu est sunt laboris nulla et aliqua sunt cillum est aute qui aliquip. Exercitation ad amet officia voluptate commodo ea in cupidatat dolore. Amet amet mollit ipsum ex nisi et anim ipsum quis exercitation est do. Qui qui veniam veniam nulla proident elit non. Laboris ea magna commodo mollit et ad ipsum et sunt qui laboris aliquip. Sit culpa laboris qui laborum ullamco elit elit mollit excepteur pariatur nostrud tempor.
        </p>
        <a href="login/" class="mt-10 block text-red-500 underline">
            Login
        </a>
    </div>
</section>